/* Footer Container */
.custom-footer {
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
   
    font-family: "Arial", sans-serif;
    height: 10vh;
    color: black;
  }

  .dark .custom-footer{
    background: rgb(0, 7, 15);
    color: white;
  }
  
  /* Footer Text */
  .footer-text {
    margin: 10px;
    font-weight: 600;
  }
  
  